.go-up-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: rgba(255, 165, 0, 0.5);
  color: rgb(234, 234, 234);
  font-size: 16px;
  cursor: grab;
  border-color: black;

  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s;
}

.go-up-button:hover {
  background-color: rgba(255, 165, 0);
}

@media (max-width: 820px) {
  .go-up-button {
    bottom: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .go-up-button {
    bottom: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    font-size: 9px;
  }
}
