.outer-manifest-container {
  min-height: 100vh;
  overflow: hidden;
}

.manifest-wrapper {
  margin-bottom: 10%;
  margin-top: 5%;
}

.manifest-wrapper p {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 30px;
  color: #333;
  font-family: "Gloria Hallelujah";
  font-size: 20px;
  line-height: 2.5;
}
.manifest-title-container {
  margin-top: 5%;
}

@media (max-width: 820px) {
  .manifest-wrapper p {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 16px;
    line-height: 2.4;
  }
  .manifest-title-container {
    margin-top: 5%;
  }
}
